
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<input type="text" placeholder="User Name"/><br />
<input type="password" placeholder="Password"/><br />
<a href="/Shop/LoginCheck" class="btn btn-success">Login</a>


