
@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>
<ul>
    <li>
        <h4>Product-1</h4>
        <p>Name: m1</p>
        <p>Prive: 100</p>
    </li>
    <li>
        <h4>Product-2</h4>
        <p>Name: m2</p>
        <p>Prive: 200</p>
    </li>

</ul>