
@{
    ViewBag.Title = "Education";
}
<h3>Education</h3>
<br />
<ul>
    <li>
        <h4>BSC</h4>
        <p>CGPA: 3.90</p>
        <p>Passing Year: 2024</p>
        <p>Institute: AIUB</p><br />
    </li>
    <li>
        <h4>HSC</h4>
        <p>CGPA: 5.00</p>
        <p>Passing Year: 2020</p>
        <p>Institute: Govt. Science College</p><br />
    </li>
    <li>
        <h4>SSC</h4>
        <p>CGPA: 5.00</p>
        <p>Passing Year: 2018</p>
        <p>Institute: BN School Dhaka</p>
    </li>
</ul>

