
@{
    ViewBag.Title = "Projects";
}
<a href="/Information/Home">Home</a> |
<a href="/Information/Education">Education</a> |
<a href="/Information/Projects">Projects</a> |
<a href="/Information/References">References</a>
<h3>Projects</h3>
<br />
<table>
    <tr>
        <th>Course</th>
        <th>Project Description</th>
    </tr>
    <tr>
        <td>OOP1</td>
        <td>Online Book App</td>
    </tr>
    <tr>
        <td>OOP2</td>
        <td>Hostel Management (Desktop)</td>
    </tr>
    <tr>
        <td>Web Tech</td>
        <td>Smart Hostel (Web)</td>
    </tr>
</table>

