
@{
    ViewBag.Title = "References";
}
<a href="/Information/Home">Home</a> |
<a href="/Information/Education">Education</a> |
<a href="/Information/Projects">Projects</a> |
<a href="/Information/References">References</a>
<h3>References</h3>
<br />
<ol>
    <li>
        <h4>Tohedul Islam</h4>
        <p>Designation: Assistant Professor</p>
        <p>Email: tohedulislam@aiub.edu</p><br />
    </li>
    <li>
        <h4>Shibaji Mridha</h4>
        <p>Designation: Assistant Professor</p>
        <p>Email: shibaji@aiub.edu</p>
    </li>
</ol>
