
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>MyProfile</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    @foreach(var item in ViewBag.Products)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                </tr>
            }

</table>

