
@{
    ViewBag.Title = "ProductCategory";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>ProductCategory</h2>
<table class="table table-bordered">
    <tr>
        <th>Category Name</th>
        <th>Item</th>
    </tr>
    @foreach (var item in ViewBag.Category)
    {
        <tr>
            <td>@item.CName</td>
            <td>
                @foreach (var proinfo in item.Products)
                {
                    <table class="table table-bordered">
                        <tr>
                            <td>@proinfo.Id</td>
                            <td>@proinfo.Name</td>
                            <td>@proinfo.Price</td>
                        </tr>
                    </table>
                }
            </td>
            
        </tr>
    }

</table>

