
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Product.cshtml";
}

<h3>Add Products</h3>
<form method="post">
    Name:<br /><input type="text" name="Name" /><br />
    Price:<br /><input type="number" name="Price" /><br />
    Quantity:<br /><input type="number" name="Quantity" /><br />
    <input type="submit" class="btn btn-success" />
</form>

