
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Product.cshtml";
}

<h2>Edit</h2>
<form method="post">
    Id:<br /><input type="hidden" name="Id" value="@Model.Id" /><br />
    Name:<br /><input type="text" name="Name" value="@Model.Name" /><br />
    Price:<br /><input type="number" name="Price" value="@Model.Price" /><br />
    Quantity:<br /><input type="number" name="Quantity" value="@Model.Quantity" /><br />
    <input type="submit" class="btn btn-success" value="Edit" />
</form>

