
@{
    ViewBag.Title = "Projects";
}
<h3>Projects</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>Course</th>
        <th>Project Description</th>
        <th>Associate link</th>
    </tr>
    <tr>
        <td>OOP1</td>
        <td>Online Book App</td>        
        <td><span class="btn btn-success"><a href="/Information/links?link=1">Click here</a></span></td>
    </tr>
    <tr>
        <td>OOP2</td>
        <td>Hostel Management (Desktop)</td>
        <td><span class="btn btn-success"><a href="/Information/links?link=2">Click here</a></span></td>


    </tr>
    <tr>
        <td>Web Tech</td>
        <td>Smart Hostel (Web)</td>
        <td><span class="btn btn-success"><a href="/Information/links?link=3">Click here</a></span></td>

    </tr>
</table>

