
@{
    ViewBag.Title = "References";
}
<h3>References</h3>
<br />
<ol>
    <li>
        <h4>Tohedul Islam</h4>
        <p>Designation: Assistant Professor</p>
        <p>Email: tohedulislam@aiub.edu</p><br />
    </li>
    <li>
        <h4>Shibaji Mridha</h4>
        <p>Designation: Assistant Professor</p>
        <p>Email: shibaji@aiub.edu</p>
    </li>
</ol>
