
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Customer.cshtml";
}

<h3>Add Customer</h3>

<form method="post">
    Name:<br /><input type="text" name="Name" /><br />
    Phone:<br /><input type="text" name="Phone" /><br />
    Password:<br /><input type="text" name="Password" /><br />
    <input type="submit" class="btn btn-success" />
</form>

