
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<h2>Add Products</h2>
<form method="post">
    Name:<br /><input type="text" name="Name" /><br />
    Price:<br /><input type="number" name="Price" /><br />
    Quantity:<br /><input type="number" name="Quantity" /><br />
    Category:<br /><input type="number" name="CatID" /><br />
    <input type="submit" class="btn btn-success" />
</form>

